body {
    font-family: 'Niramit', sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
}

nav {
    background-color: #000000;
    padding: 10px;
}

img#logo {
    float: left;
}

form {
    text-align: right;
}

input {
    border-radius: 2px;
    font-size: 1.5;
    text-align: center;
    height: 30px;
    background-color: #ffffff;
    border-style: none;
    margin: 2.5px;
}

input#input {
    width: 35%;
    padding: 0px;
}

input:hover {
    background-color: #808080;
    color: #ffffff;
    transition: 0.1s;
}

input#input:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.1s;
}

button {
    border-radius: 5px;
    height: 21px;
    margin: 5px;
}

p {
    color: #ffffff;
    background-color: #404040;
    height: 25px;
}

p#title {
    background-color: #000000;
    float: left;
    padding-left: 5px;
    margin: 0px;
    font-size: 25px;
}

p#h {
    background-color: #808080;
    padding-left: 5px;
}

p#f {
    background-color: #404040;
    padding-left: 5px;
}

div.faveButtons {
    background-color: #404040;
    text-align: center;
}

div.buttons {
    background-color: #808080;
}

button.stock {
    border-radius: 3px;
    font-size: 1.25;
    text-align: center;
    height: 20px;
    background-color: white;
    border-style: none;
    margin: 2.5px;
}

button.stock:hover {
    color: #ffffff;
    background-color: #202020;
    transition: 0.1s;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
    font-weight: bolder; 
}

h4 {
    font-size: 110%;
    font-weight: bold;
}

main.container {
    margin: 10px;
}

time {
    font-size: 75%;
}

summary {
    font-weight: lighter;
}

a#titleA {
    text-decoration: none;
    color: white;
}

a#titleA:active {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 640px) {
    body {
        text-align: center;
        transition: 1s;
    }
    nav {
        text-align: center;
    }
    img#logo {
        float: none;
        transition: 1s;
    }
    p#title {
        float: none;
        margin-top: -5px;
    }
    input#input {
        width: 90%;
    }
    form {
        clear: both;
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }
    .container {
        text-align: center;
        transition: .5s;
    }
}